<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitcamp.travelkkaebi.mapper.ReviewMapper">

    <select id="selectAllByPage" parameterType="hashMap" resultType="ReviewResponseDTO">
        SELECT * FROM board_review JOIN user on board_review.user_id = user.user_id
                 ORDER BY review_id DESC LIMIT #{startNum}, #{PAGE_SIZE}
    </select>

    <select id="selectOne" parameterType="int" resultType="ReviewResponseDTO">
        SELECT * FROM board_review JOIN user On board_review.user_id = user.user_id
            WHERE review_id = #{reviewId}
    </select>

    <insert id="insert" parameterType="ReviewDTO" useGeneratedKeys="true" keyProperty="reviewId">
        INSERT INTO board_review (user_id, title, content, region)
        VALUES ( #{userId}, #{title}, #{content}, #{region})
    </insert>

    <update id="update" parameterType="ReviewDTO" useGeneratedKeys="true" keyProperty="reviewId">
        UPDATE board_review SET title = #{title}, content = #{content}, region = #{region}
        WHERE review_id = #{reviewId}
    </update>

    <delete id="delete" parameterType="int">
        DELETE FROM board_review WHERE review_id = #{reviewId}
    </delete>

    <update id="viewPlus" parameterType="int">
        UPDATE board_review SET view = view +1 WHERE review_id = #{reviewId}
    </update>

    <select id="reviewCount" resultType="int">
        SELECT COUNT(*) FROM board_review
    </select>

    <select id="searchByTitle" parameterType="String" resultType="ReviewResponseDTO">
        SELECT * FROM board_review WHERE title LIKE CONCAT('%', #{title}, '%')
    </select>

    <select id="searchByContent" parameterType="String" resultType="ReviewResponseDTO">
        SELECT * FROM board_review WHERE content LIKE  CONCAT('%',#{content},'%')
    </select>

    <select id="searchByWriter" parameterType="String" resultType="ReviewResponseDTO">
        SELECT * FROM board_review JOIN user On board_review.user_id = user.user_id
                 WHERE nickname LIKE CONCAT('%',#{writer},'%')
    </select>

    <select id="keywordByRegion" parameterType="String" resultType="ReviewResponseDTO">
        SELECT * FROM board_review WHERE region = #{region}
    </select>











</mapper>