<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"><mapper namespace="com.kari.kariblog.mapper.UserMapper">    <insert id="save" parameterType="UserEntity" useGeneratedKeys="true" keyProperty="userId">        INSERT INTO user (username, password, name, birth, phone, nickname, email)        VALUES (#{username}, #{password} #{name}, #{birth}, #{phone}, #{nickname}, #{email})    </insert></mapper>