<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.UserMapper">
	<select id="selectAll"
		resultType="com.bitcamp.Board.model.UserDTO">
		SELECT * FROM user
	</select>
	
	<select id = "auth" resultType = "UserDTO" parameterType = "com.bitcamp.Board.model.UserDTO">
		SELECT * FROM user WHERE username = #{username}
		AND password = #{password}
	</select>
	
	<insert id="register" parameterType = "com.bitcamp.Board.model.UserDTO">
		INSERT INTO user(username, password, nickname)
		VALUES(#{username}, #{password}, #{nickname})
	</insert>
	
	<select id = "selectOne" parameterType = "int" resultType = "com.bitcamp.Board.model.UserDTO">
		SELECT * FROM user
		WHERE id = #{id}
	</select>
</mapper>